*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
}
/* 导航开始 */
.nav{
	width: 100%;
	height:71px;
	padding: 18px 0;
	box-sizing: border-box;
}
.navcontainer{
	width: 1170px;
	height: 35px;
	margin: 0 auto;
}
.nav1{
	width: 292.5px;
	height: 35px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.nav2{
	width: 585px;
	height: 35px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.nav3{
	width:292.5px;
	height: 35px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.logo>a{
	padding: 10px 5px;
	font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    line-height: 35px;
}
.nav2>ul{
	width: auto;
	height:35px;
	text-align: center;
}
.nav2>ul>li{
	float: left;

}
.nav2>ul>li>a{
	font-size: 13px;
	padding: 30px 10px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 35px;
}
.nav2>ul>li:first-child{
	margin-left: 136px;
}
.search>input{
	width: auto;
	height: 30px;
    float: left;
    margin-top: 6px;
    /* border: 1px solid gray; */
}
.search>button{
	width: 26px;
	height: 35px;
	float:left;
	background: none;
	border: none;
	color: gray;
	margin-top: 6px;
}
.searchg{
	position: relative;
}
small{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	background: #d1c286;
	font-size: 11px;
	text-align: center;
	line-height: 20px;
	margin-left: 15px;
	position: absolute;
	left: 235px;
	top: 0;
	color: white;
}
.navg>span>i{
	font-size: 13px;
	position: absolute;
	left: 232px;
	top: 20px;
	color: black;
}
/* 导航结束 */
/* banner开始 */
.slides{
	width: 100%;
	height: 700px;
	overflow: hidden;
}
.slide{
	width: 1349px;
	height: 700px;
}
.slides>li:first-child{
	background-image:url('../images/img_bg_2.jpg');
    background-size:100%;
	overflow: hidden;
}
.overlay{
	width: 1349px;
	height: 700px;
	z-index: 0;
    /* position: absolute;
    bottom: 0;
    top: 70px;
    left: 0;
    right: 0; */
    background: rgba(0, 0, 0, 0.2);
}
.container1{
	width: 1170px;
	height: 700px;
	margin: 0 auto;
	top: 70px;
	 position: absolute;
    left: 0;
    right: 0;
}
.inner{
	width: 750px;
	height: 600px;
	margin: 0 auto;
	padding: 200px;
	box-sizing: border-box;
	z-index: 9;
}
.inner>h1{
	font-size: 60px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    color: white;
    z-index: 999;
}   
.inner>h2{
	font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

/* banner结束 */
/* card开始 */
.card{
	width: 100%;
	height: auto;
	background:rgba(0, 0, 0, 0.05);
	padding: 112px 0;
	box-sizing: border-box;
}
.feature-center{
	padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.feature-center>span>i{
	width: 90px;
	height: 90px;
	background: #d1c286;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 90px;
	font-size: 40px;
	color: #fff;
	margin-bottom: 30px;
}
.feature-center>h3{
	text-align: center;
	text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 30px;
    color: black;
}  
.feature-center>p{
	margin: 0 0 10px;
	display: block;
	text-align: center;
	margin-bottom: 30px;
} 
.cardbtn{
	border: 2px solid #d1c286;
	color: #d1c286;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight:bold;
    line-height: 14px;
    border-radius: 4px;
}
.cardbtn:hover{
	background:#d1c286;
	color: #fff; 
}
/* card结束 */
/* email开始 */
.email{
	width: 100%;
	height: auto;
	background: #d1c286;
    padding: 112px 0;
    box-sizing: border-box;
}
.container{
	width: 1170px;
	height: auto;
	padding-left: 15px;
    padding-right: 15px;
}
.emailt{
	margin-bottom: 100px;
}
.emailt>h2{
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.emailt>p{
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 1.5;
}
.form-group>input{
	width: 345px;
	height: 54px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-left: 220px;
	background: rgba(255, 255, 255, 0.2);
    border: none !important;
    color: #fff;
    font-size: 16px !important;
}
.form-group>button{
	width: 345px;
	height: 54px;
	padding: 8px 50px;
	margin-left: 20px;
    border: none !important;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}
/* email结束 */
/* foot开始 */
.foot{
	width: 100%;
	height: 540px;
	background:rgba(0, 0, 0, 0.05);
	padding: 112px 0;
	box-sizing: border-box;
}
.container{
	width: 1170px;
	height: 316px;
}
.foott{
	padding-bottom: 64px;
	box-sizing: border-box;
}
.foott .shop{
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 100px;
}
.shop>h3{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
} 
.foott>shop>p{
	margin-bottom: 20px;
    margin: 0 0 10px;
} 
.footer-links>li{
	display: list-item;
}
.footer-links>li>a{
	color: #000;
	font-weight: lighter;
}               
/* foot结束 */
/* 底部开始 */
.footb{
	width: 100%;
	height: auto;
    text-align: center;
    padding: 70px 0;
}
.footb .container{
	/* width: 1170px;
	height: 55px; */
}
.social{
	width: 100%;
	height: auto;
}
.footb p{
    margin-bottom:20px;
    font-size: 13px;
    line-height: 20px;
    color: #888;
}
.social a {
    font-size: 18px;
    margin: 0 8px;
    color: #d1c286;
    transition: all 0.4s;
}
.social>a>i{
	  font-size: 20px;
}
.social a:hover{
 	color: #525050;
} 
.container>p>a{
	color: #d1c286;
}    
/* 底部结束 */
